<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Key Mime Pi</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link rel="stylesheet" type="text/css" href="static/css/dragula.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Nunito&display=swap" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>
  </head>
  <body class="lock-screen">
    <div class="container">
      <div style="
          align-items: center;
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          width: 500px;" class="flex-container">          
        <div class="">
          <input type="checkbox" id="moverActive"  onchange="toggleMoverActive()"
            name="moverActive" value="active" {{'checked="checked"' if moverActive else ""}}>
          <label style="font-size: 1.2em;" for="moverActive">Mover</label><br>
        </div>
        <h1>Key Mime Pi</h1>
        <div style="font-family: Lora;" id="status" class="status">???</div>
      </div>
      <div class="container keystroke-history">
        <div id="recent-keys"></div>
        <label for="domTextElement">Text to send:</label>
        <input type="text" id="domTextElement" />
        <button class="button" id="send-button">Send the String</button>        
        <div hidden id="remove">Remove Favourite</div>
      </div>
    </div>
    <script src="static/js/dragula.js"></script>
    <script src="static/js/app.js"></script>
  </body>
</html>
